.form {
  max-width: 600px;
  max-height: 500px;
  margin: 0 auto;
  padding: 10px;
  font-family: inherit;
}
.form__result {
  margin: 10px 0 0 5px;
}

.form__fieldset {
  background-color: azure;
  border-radius: 5px;
  border-color: azure;
  -webkit-box-shadow: 12px 14px 45px -20px rgba(66, 68, 90, 1);
  -moz-box-shadow: 12px 14px 45px -20px rgba(66, 68, 90, 1);
  box-shadow: 12px 14px 45px -20px rgba(66, 68, 90, 1);
}
