.form__labelText {
  display: inline-block;
  width: 150px;
  margin-right: 5px;
}

.form__input {
  max-width: 300px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
}
